In [1]:
import numpy as np
import pandas as pd

In [2]:
merged_data_train = pd.read_csv("merged_data_train.csv")
merged_data_test = pd.read_csv("merged_data_test.csv")

In [3]:
old_merged_data = pd.read_csv("merged_data.csv")

In [4]:
old_merged_data.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V15,V16,V17,V18,V19,V20,V21,city,region,country
0,CUID1872,TID229526,EID2062082,485.69445,2020-03-20 22:51:30,376474,A,BA1,BB425559,PD44707,...,A,2018-03-11 13:01:01,127.75.58.107,875.0,825535.0,875.0,93.265659,NaN,NaN,NaN
1,CUID5533,TID244499,EID1459012,393.45200,2020-04-28 07:17:12,33227,A,BA4793,BB248012,PD39453,...,B,2017-12-18 00:36:55,95.60.92.198,205.0,468070.0,205.0,119.208750,Santa Cruz de Tenerife,Canary Islands,Spain
2,CUID5278,TID311877,EID0,375.75000,2020-08-15 04:11:43,0,F,BA5631,BB166256,PD237664,...,A,2018-03-11 10:25:26,121.128.85.95,875.0,33514.0,875.0,90.369641,Seoul,Seoul,South Korea
3,CUID24,TID279685,EID0,6.97225,2020-06-26 01:11:42,0,C,BA7188,BB354924,PD99032,...,B,2017-12-18 00:45:23,112.136.118.173,875.0,1777813.0,875.0,105.728428,Minato-ku,Tokyo,Japan
4,CUID449,TID104689,EID0,16.70000,2020-09-15 10:11:06,0,C,BA7236,BB354924,PD63422,...,A,2017-12-18 08:45:17,66.83.174.100,875.0,33514.0,875.0,87.130607,Little Rock,Arkansas,United States

In [5]:
merged_data_train.head()

,V1,V2,V4,V6,V7,V8,V9,V10,V12,Target,V14,V15,V18,V19,V20,V21
0,CUID1872,TID229526,485.69445,376474,A,BA1,BB425559,PD44707,CP0,0,B170291,A,875.0,825535.0,875.0,93.265659
1,CUID5533,TID244499,393.45200,33227,A,BA4793,BB248012,PD39453,CP0,0,B170291,B,205.0,468070.0,205.0,119.208750
2,CUID5278,TID311877,375.75000,0,F,BA5631,BB166256,PD237664,CP0,0,B170291,A,875.0,33514.0,875.0,90.369641
3,CUID24,TID279685,6.97225,0,C,BA7188,BB354924,PD99032,CP0,0,B4995,B,875.0,1777813.0,875.0,105.728428
4,CUID449,TID104689,16.70000,0,C,BA7236,BB354924,PD63422,CP0,0,B170291,A,875.0,33514.0,875.0,87.130607

In [6]:
merged_data_train["V21"].describe()

count    233469.000000
mean        101.941597
std          26.346907
min          56.062727
25%          87.893642
50%          93.916806
75%         105.823844
max         390.930000
Name: V21, dtype: float64

In [8]:
merged_data_test["V21"].describe()

count    215779.000000
mean         98.406094
std          21.258062
min          52.499780
25%          86.785451
50%          92.306775
75%         102.640553
max         268.675082
Name: V21, dtype: float64

In [9]:
pd.options.display.float_format = '{:,.4f}'.format
pd.set_option("display.max_columns", None)

In [13]:
# cols_to_drop = ["V3", "V5", "V16", "V17", "V11", "V13", "V21"]
# cols_to_drop = [ "V21"]

In [14]:
merged_data_train.columns

Index(['V1', 'V2', 'V4', 'V6', 'V7', 'V8', 'V9', 'V10', 'V12', 'Target', 'V14',
       'V15', 'V18', 'V19', 'V20', 'V21'],
      dtype='object')

In [15]:
# cols_to_drop = ['cumpulatime_amounts', 'prior_total_amount', 'prior_max_V4', 'prior_min_V4', 'prior_avg_V4', "country_mapping", "asn_mapping", "day_v5", "duration_days", "n_transaction_prior", "days_passsed_since_first_transaction", "average_number_transaction_per_day", "time_of_day"   ]

In [16]:
merged_data_train = merged_data_train.reset_index(drop=True)

In [17]:
# merged_data_train = merged_data_train[sorted(cols_to_keep)]
# merged_data_test = merged_data_test[sorted(list(set(cols_to_keep)-set(["Target"])))]

In [18]:
# merged_data_train.drop(columns=cols_to_drop, axis=1, inplace=True)
# merged_data_test.drop(columns=cols_to_drop, axis=1, inplace=True)

In [19]:
merged_data_train.head()

,V1,V2,V4,V6,V7,V8,V9,V10,V12,Target,V14,V15,V18,V19,V20,V21
0,CUID1872,TID229526,485.6945,376474,A,BA1,BB425559,PD44707,CP0,0,B170291,A,875.0000,"825,535.0000",875.0000,93.2657
1,CUID5533,TID244499,393.4520,33227,A,BA4793,BB248012,PD39453,CP0,0,B170291,B,205.0000,"468,070.0000",205.0000,119.2087
2,CUID5278,TID311877,375.7500,0,F,BA5631,BB166256,PD237664,CP0,0,B170291,A,875.0000,"33,514.0000",875.0000,90.3696
3,CUID24,TID279685,6.9722,0,C,BA7188,BB354924,PD99032,CP0,0,B4995,B,875.0000,"1,777,813.0000",875.0000,105.7284
4,CUID449,TID104689,16.7000,0,C,BA7236,BB354924,PD63422,CP0,0,B170291,A,875.0000,"33,514.0000",875.0000,87.1306

In [20]:
merged_data_train.isna().sum()

V1          0
V2          0
V4          0
V6          0
V7          0
V8          0
V9          0
V10         0
V12         0
Target      0
V14       164
V15       164
V18       164
V19       164
V20       164
V21       164
dtype: int64

In [21]:
V14_miss = merged_data_train["V14"].mode().iloc[0]
V15_miss = merged_data_train["V15"].mode().iloc[0]
V18_miss = merged_data_train["V18"].mode().iloc[0]
V19_miss = merged_data_train["V19"].mode().iloc[0]
V20_miss = merged_data_train["V20"].mode().iloc[0]
# country_mapping_miss = merged_data_train["country_mapping"].mode().iloc[0]
# asn_mapping_miss = merged_data_train["asn_mapping"].mode().iloc[0]
V21_miss = merged_data_train["V21"].mean()

In [23]:
merged_data_train["V14"].fillna(V14_miss, inplace=True)
merged_data_train["V15"].fillna(V15_miss, inplace=True)
merged_data_train["V18"].fillna(V18_miss, inplace=True)
merged_data_train["V19"].fillna(V19_miss, inplace=True)
merged_data_train["V20"].fillna(V20_miss, inplace=True)
merged_data_train["V21"].fillna(V21_miss, inplace=True)
# merged_data_train["country_mapping"].fillna(country_mapping_miss, inplace=True)
# merged_data_train["asn_mapping"].fillna(asn_mapping_miss, inplace=True)

In [24]:
merged_data_test["V14"].fillna(V14_miss, inplace=True)
merged_data_test["V15"].fillna(V15_miss, inplace=True)
merged_data_test["V18"].fillna(V18_miss, inplace=True)
merged_data_test["V19"].fillna(V19_miss, inplace=True)
merged_data_test["V20"].fillna(V20_miss, inplace=True)
# merged_data_test["V21"].fillna(V21_miss, inplace=True)
# merged_data_test["country_mapping"].fillna(country_mapping_miss, inplace=True)
# merged_data_test["asn_mapping"].fillna(asn_mapping_miss, inplace=True)

In [25]:
# merged_data_train["V18"] = merged_data_train["V18"].astype(int)
# merged_data_train["V19"] = merged_data_train["V19"].astype(int)
# # merged_data_train["asn_mapping"] = merged_data_train["asn_mapping"].astype(int)

# merged_data_test["V18"] = merged_data_test["V18"].astype(int)
# merged_data_test["V19"] = merged_data_test["V19"].astype(int)
# # merged_data_test["asn_mapping"] = merged_data_test["asn_mapping"].astype(int)

In [26]:
merged_data_test.isna().sum()

V1      0
V2      0
V4      0
V6      0
V7      0
V8      0
V9      0
V10     0
V12     0
V14     0
V15     0
V18     0
V19     0
V20     0
V21    73
dtype: int64

In [27]:
merged_data_train.isna().sum()

V1        0
V2        0
V4        0
V6        0
V7        0
V8        0
V9        0
V10       0
V12       0
Target    0
V14       0
V15       0
V18       0
V19       0
V20       0
V21       0
dtype: int64

In [28]:
X = merged_data_train.drop(columns=["V1", "V2",'Target'])
y = merged_data_train['Target']

In [29]:
X.isna().sum()

V4     0
V6     0
V7     0
V8     0
V9     0
V10    0
V12    0
V14    0
V15    0
V18    0
V19    0
V20    0
V21    0
dtype: int64

In [30]:
cat_columns = X.select_dtypes(include=['object']).columns

In [31]:
cat_columns

Index(['V7', 'V8', 'V9', 'V10', 'V12', 'V14', 'V15'], dtype='object')

In [32]:
# cat_columns = ['V7', 'V8', 'V9', 'V10', 'V12', 'time_of_day', 'V14', 'V15',
#        'country_mapping', 'asn_mapping']

In [33]:
cat_features_idx = [X.columns.get_loc(col) for col in cat_columns]

In [34]:
cat_features_idx

[2, 3, 4, 5, 6, 7, 8]

In [35]:
X.columns

Index(['V4', 'V6', 'V7', 'V8', 'V9', 'V10', 'V12', 'V14', 'V15', 'V18', 'V19',
       'V20', 'V21'],
      dtype='object')

In [36]:
cat_features_idx

[2, 3, 4, 5, 6, 7, 8]

In [37]:
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split


# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size=0.2, 
                                                    random_state=42,
                                                   )

# Define model and its hyperparameters
model = CatBoostClassifier(iterations=1000, 
                           learning_rate=0.1, 
                           depth=6, 
                           l2_leaf_reg=3, 
                           loss_function='Logloss', 
                           random_seed=42,
                          cat_features=cat_features_idx,
                          )

# Train model on training data
model.fit(X_train, y_train, 
          eval_set=(X_test, y_test), 
          verbose=100, 
          early_stopping_rounds=50)

0:	learn: 0.4701029	test: 0.4699504	best: 0.4699504 (0)	total: 279ms	remaining: 4m 38s
100:	learn: 0.0066474	test: 0.0040839	best: 0.0040839 (100)	total: 51s	remaining: 7m 34s
200:	learn: 0.0059833	test: 0.0039524	best: 0.0039459 (152)	total: 1m 56s	remaining: 7m 42s
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.003945923994
bestIteration = 152

Shrink model to first 153 iterations.

In [38]:
y_pred = model.predict(X_test)

In [39]:
from sklearn.metrics import classification_report, precision_recall_curve, auc

In [40]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     46480
           1       0.91      0.87      0.89       247

    accuracy                           1.00     46727
   macro avg       0.95      0.94      0.95     46727
weighted avg       1.00      1.00      1.00     46727

In [41]:
merged_data_test["V9"].dtype

dtype('O')

In [42]:
merged_data_test.head()

,V1,V2,V4,V6,V7,V8,V9,V10,V12,V14,V15,V18,V19,V20,V21
0,CUID6660,TID198043,"4,154.1250",33227,A,BA4811,BB68389,PD39402,CP0,B170291,A,875.0000,"33,514.0000",875.0000,105.9388
1,CUID6660,TID312736,"8,350.0000",33227,A,BA4811,BB68389,PD39402,CP0,B170291,A,875.0000,"33,514.0000",875.0000,105.9388
2,CUID6660,TID308818,20.8750,363981,A,BA4811,BB68389,PD39402,CP0,B170291,A,875.0000,"33,514.0000",875.0000,105.9388
3,CUID6660,TID321252,"20,457.5000",33227,A,BA4811,BB68389,PD39402,CP0,B170291,A,875.0000,"33,514.0000",875.0000,105.9388
4,CUID6660,TID420788,"4,154.1250",33227,A,BA4811,BB68389,PD39402,CP0,B170291,A,875.0000,"33,514.0000",875.0000,105.9388

In [43]:
merged_data_train.head()

,V1,V2,V4,V6,V7,V8,V9,V10,V12,Target,V14,V15,V18,V19,V20,V21
0,CUID1872,TID229526,485.6945,376474,A,BA1,BB425559,PD44707,CP0,0,B170291,A,875.0000,"825,535.0000",875.0000,93.2657
1,CUID5533,TID244499,393.4520,33227,A,BA4793,BB248012,PD39453,CP0,0,B170291,B,205.0000,"468,070.0000",205.0000,119.2087
2,CUID5278,TID311877,375.7500,0,F,BA5631,BB166256,PD237664,CP0,0,B170291,A,875.0000,"33,514.0000",875.0000,90.3696
3,CUID24,TID279685,6.9722,0,C,BA7188,BB354924,PD99032,CP0,0,B4995,B,875.0000,"1,777,813.0000",875.0000,105.7284
4,CUID449,TID104689,16.7000,0,C,BA7236,BB354924,PD63422,CP0,0,B170291,A,875.0000,"33,514.0000",875.0000,87.1306

In [143]:
Target = model.predict(merged_data_test.drop(columns=["V1","V2"], axis=1))
Probability = model.predict_proba(merged_data_test.drop(columns=["V1","V2"], axis=1))

In [144]:
Probability = [max(i) for i in Probability]

In [145]:
output = pd.DataFrame({"V2":merged_data_test["V2"], "Probability": Probability, "Target": Target})

In [146]:
output.to_csv("results_hsbc_new.csv", index=False)

In [57]:
test_data = pd.read_csv("../dataset/test.csv")
test_data_helper = pd.read_csv("../dataset/test_helper.csv")
test_data_helper_grouped = test_data_helper.groupby(["V1"]).agg(list)
test_data_helper_grouped = test_data_helper_grouped.reset_index()

In [58]:
from scipy import stats as st

In [59]:
test_data_helper["V21"].isna().sum() / test_data_helper["V21"].shape[0]

0.8197381454843017

In [60]:
test_data_helper["V21"].describe()

count   209,275.0000
mean        127.7739
std         128.3160
min           0.8300
25%          42.3300
50%          79.6800
75%         167.6600
max         830.0000
Name: V21, dtype: float64

In [61]:
len(test_data_helper_grouped["V21"])

3662

In [62]:
test_data_helper_grouped["V21"].apply(lambda x: np.mean(x)).isna().sum()

3662

In [63]:
test_data_helper_grouped["V14"] = test_data_helper_grouped["V14"].apply(lambda x: st.mode(x)[0][0])
test_data_helper_grouped["V15"] = test_data_helper_grouped["V15"].apply(lambda x: st.mode(x)[0][0])
test_data_helper_grouped["V16"] = test_data_helper_grouped["V16"].apply(lambda x: st.mode(x)[0][0])
test_data_helper_grouped["V17"] = test_data_helper_grouped["V17"].apply(lambda x: st.mode(x)[0][0])
test_data_helper_grouped["V18"] = test_data_helper_grouped["V18"].apply(lambda x: st.mode(x)[0][0])
test_data_helper_grouped["V19"] = test_data_helper_grouped["V19"].apply(lambda x: np.median(x))
test_data_helper_grouped["V20"] = test_data_helper_grouped["V18"].apply(lambda x: np.mean(x))
test_data_helper_grouped["V21"] = test_data_helper_grouped["V21"].apply(lambda x: np.mean(x))

In [64]:
test_data_helper_grouped.drop(columns=["V3"], inplace=True)

In [65]:
test_merge_data = test_data.merge(test_data_helper_grouped, on="V1", how="left")

In [67]:
test_merge_data.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21
0,CUID6660,TID198043,EID908838,"4,154.1250",13-08-2020 08:41,33227,A,BA4811,BB68389,PD39402,CC1,CP0,11-08-2020 00:00,B170291,A,2018-01-16 20:38:30,121.167.155.58,875.0000,"33,514.0000",875.0000,NaN
1,CUID6660,TID312736,EID502971,"8,350.0000",17-08-2020 04:13,33227,A,BA4811,BB68389,PD39402,CC1,CP0,11-08-2020 00:00,B170291,A,2018-01-16 20:38:30,121.167.155.58,875.0000,"33,514.0000",875.0000,NaN
2,CUID6660,TID308818,EID231193,20.8750,11-08-2020 01:40,363981,A,BA4811,BB68389,PD39402,CC1,CP0,11-08-2020 00:00,B170291,A,2018-01-16 20:38:30,121.167.155.58,875.0000,"33,514.0000",875.0000,NaN
3,CUID6660,TID321252,EID1124129,"20,457.5000",30-08-2020 22:11,33227,A,BA4811,BB68389,PD39402,CC1,CP0,11-08-2020 00:00,B170291,A,2018-01-16 20:38:30,121.167.155.58,875.0000,"33,514.0000",875.0000,NaN
4,CUID6660,TID420788,EID908838,"4,154.1250",13-08-2020 08:40,33227,A,BA4811,BB68389,PD39402,CC1,CP0,11-08-2020 00:00,B170291,A,2018-01-16 20:38:30,121.167.155.58,875.0000,"33,514.0000",875.0000,NaN

In [68]:
test_merge_data = test_merge_data[['V2', 'V4', 'V6', 'V7', 'V8', 'V9', 'V10', 'V12', 'V14', 'V15', 'V18', 'V19',
       'V20', 'V21']]

In [69]:
test_merge_data["V14"].fillna(V14_miss, inplace=True)
test_merge_data["V15"].fillna(V15_miss, inplace=True)
test_merge_data["V18"].fillna(V18_miss, inplace=True)
test_merge_data["V19"].fillna(V19_miss, inplace=True)
test_merge_data["V20"].fillna(V20_miss, inplace=True)
test_merge_data["V21"].fillna(V21_miss, inplace=True)

In [70]:
# test_merge_data["V21"]

In [71]:
Target = model.predict(test_merge_data.drop(columns=["V2"], axis=1))
Probability = model.predict_proba(test_merge_data.drop(columns=["V2"], axis=1))

In [72]:
Probability = [max(i) for i in Probability]

In [73]:
output = pd.DataFrame({"V2":test_merge_data["V2"], "Probability": Probability, "Target": Target})

In [74]:
output.head()

          V2  Probability  Target
0  TID198043       0.9947       0
1  TID312736       0.9957       0
2  TID308818       0.9986       0
3  TID321252       0.9954       0
4  TID420788       0.9947       0

In [75]:
output.to_csv("results_hsbc_new1.csv", index=False)

In [60]:
test_merge_data.head()

,V2,V4,V6,V7,V8,V9,V10,V12,V14,V15,V18,V19,V20,V21
0,TID198043,"4,154.1250",33227,A,BA4811,BB68389,PD39402,CP0,B170291,A,875.0000,"33,514.0000",875.0000,101.9416
1,TID312736,"8,350.0000",33227,A,BA4811,BB68389,PD39402,CP0,B170291,A,875.0000,"33,514.0000",875.0000,101.9416
2,TID308818,20.8750,363981,A,BA4811,BB68389,PD39402,CP0,B170291,A,875.0000,"33,514.0000",875.0000,101.9416
3,TID321252,"20,457.5000",33227,A,BA4811,BB68389,PD39402,CP0,B170291,A,875.0000,"33,514.0000",875.0000,101.9416
4,TID420788,"4,154.1250",33227,A,BA4811,BB68389,PD39402,CP0,B170291,A,875.0000,"33,514.0000",875.0000,101.9416

In [61]:
merged_data_test.drop(columns=["V1"]).head()

,V2,V4,V6,V7,V8,V9,V10,V12,V14,V15,V18,V19,V20,V21
0,TID198043,"4,154.1250",33227,A,BA4811,BB68389,PD39402,CP0,B170291,A,875.0000,"33,514.0000",875.0000,105.9388
1,TID312736,"8,350.0000",33227,A,BA4811,BB68389,PD39402,CP0,B170291,A,875.0000,"33,514.0000",875.0000,105.9388
2,TID308818,20.8750,363981,A,BA4811,BB68389,PD39402,CP0,B170291,A,875.0000,"33,514.0000",875.0000,105.9388
3,TID321252,"20,457.5000",33227,A,BA4811,BB68389,PD39402,CP0,B170291,A,875.0000,"33,514.0000",875.0000,105.9388
4,TID420788,"4,154.1250",33227,A,BA4811,BB68389,PD39402,CP0,B170291,A,875.0000,"33,514.0000",875.0000,105.9388

In [62]:
(merged_data_test.drop(columns=["V1"]) == test_merge_data).sum(axis=0)

V2     215852
V4     215852
V6     215852
V7     215852
V8     215852
V9     215852
V10    215852
V12    215852
V14    215852
V15    215852
V18    215852
V19    215852
V20    215852
V21        73
dtype: int64

In [63]:
merged_data_test.shape

(215852, 15)

In [64]:
merged_data_test["V21"].head()

0   105.9388
1   105.9388
2   105.9388
3   105.9388
4   105.9388
Name: V21, dtype: float64

In [65]:
v21_vals_test = test_merge_data["V21"]

In [66]:
v21_vals_test_new = merged_data_test["V21"]

In [70]:
from collections import Counter

In [71]:
Counter(v21_vals_test)

Counter({101.94159655191008: 215852})

In [68]:
v21_vals_test_new

0        105.9388
1        105.9388
2        105.9388
3        105.9388
4        105.9388
           ...
215847    89.1763
215848    89.1763
215849    89.1763
215850    89.1763
215851    89.1763
Name: V21, Length: 215852, dtype: float64